WcfService/SampleXMLFile.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Employees">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Employee">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="NationalIDNumber" type="xs:unsignedInt" />
              <xs:element minOccurs="0" name="LoginID" type="xs:string" />
              <xs:element minOccurs="0" name="JobTitle" type="xs:string" />
              <xs:element minOccurs="0" name="BirthDate" type="xs:date" />
              <xs:element minOccurs="0" name="MaritalStatus" type="xs:string" />
              <xs:element minOccurs="0" name="Gender" type="xs:string" />
              <xs:element minOccurs="0" name="HireDate" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>